<footer>
    <p>Projeto Final- BlueEdTech Módulo 02 - Pokédex por:
        <a>//github.com/Julie-Mahra </a>
    </p>

    <p>Dados retidados de:
        <a> https://www.pokemon.com/br/pokedex </a>
    </p>
</footer>